main{
    background-color: rgb(37, 20, 99);
    border-radius: 10px;
    margin: 0 1rem 0 1rem;

}
p{
    font-size: 1.1rem;
}

main h2{
    text-align: left;
    margin-left: 1rem;
}
main p{
    text-align: left;
    margin: 0 1rem 0rem 1rem;
    line-height: 1.5rem;
    padding-bottom: 1rem;
}